@import './styles/index.scss';

body{
  background-color: #fafafa;
}

.App {
  text-align: center;

  a{
    color: black;
    &:hover{
      text-decoration: none;
    }
  }

  .link{
    cursor: pointer;
    color: $secondary;
    @include transition();
    &:hover{
      color: $primary;
    }

  }
}

